.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10rem;
	background-color: #121212;
	background-image: url('../../assets/space.png');
	background-size: cover;
	background-position: center;
}

.projectsTitle {
	padding: 1rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #ec694d;
}

.projectsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.projectsParagraph {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 1rem 1rem 0;
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	color: #fff;
	background-color: #ec694d;
	border-radius: 3px;
	padding: 5px;
}

.projectsGit {
	/* margin: 1rem 1rem 1rem 0; */
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
}

svg {
	color: #fff;
	height: 25px;
	width: auto;
}

/* ANIMATION */

/* .reveal {
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.active.fade-bottom {
	animation: fade-bottom 1s ease-in;
}

.active.fade-left {
	animation: fade-left 1s ease-in;
}

.active.fade-right {
	animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
} */

@media (min-width: 900px) {
	.projects {
		padding-top: 4rem;
	}

	.projectsGroup {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 75%;
		padding: 6rem;

	}
}