.card {
	width: 10rem;
	height: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	border-radius: 5px;
	background-color: #f1eeed10;
	box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.096);
	font-family: 'Outfit', sans-serif;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.cardText {
	margin-top: 1rem;
  text-align: center;
	font-weight: 200;
	text-decoration: none;
	color: #fff;
}

.date {
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 15px;
}

.projectName {
	margin: 0;
	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 17px;
}

.cardStats {
	display: flex;
	justify-content: space-around;
}

.stat {
	margin: 5px;
}

.value {
	color: #fff;
}

.card svg {
	margin-top: 1rem;
	color: #B23C17;
}

a {
	text-decoration: none;
}


@media (min-width: 900px) {
	.card {
		width: 12rem;
		height: 12rem;
	}

	.formContainer {
		width: 500px;
	}
}
