
.contactContainer {
	background-image: url("../../../public/contact2.jpg");
	background-size: cover;
	height: 100vh;
}

.contactForm {
	padding-top: 15rem;
	padding-left: 3rem;
	height: 300px;
	width: 400px;
	display: flex;
	flex-direction: column;
}

input {
	height: 25px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Inter', sans-serif;
	font-weight: 200;
}

input:focus {
	border: none;
}

textarea {
	padding: 1rem;
	height: 25px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	color: white;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
}