
.contactContainer {
	display: flex;
	justify-content: center;
	padding-top: 10rem;
	padding-bottom: 8rem;
	background-color: #121212;
}

label {
	font-family: 'Inter', sans-serif;
	margin-left: 1rem;
	color: #ec694d;
}

.contactForm {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

input {
	height: 25px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Inter', sans-serif;
	font-weight: 200;
}

input[type="submit"] {
	margin-bottom: 1rem;
	font-family: 'Inter', sans-serif;
	color: #ec694d;
}

input:focus {
	border: none;
}

textarea {
	padding: 1rem;
	height: 25px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	color: white;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 900px) {
	.contactContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contactForm {
		width: 40%;
	}
}