.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 1rem;
	color: #B23C17;
	font-size: 26px;
}

.app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #B23C17;
}

.contactContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 8rem;
	background-image: url('../../assets/space.png');
}

.contact {
	font-family: 'Outfit', sans-serif;
	color: #ffff;
	font-size: 55px; 
	font-weight: 100;
}

.me {
	font-family: 'Outfit', sans-serif;
	color: #B23C17;
	font-size: 55px; 
	font-weight: 100;
}

label {
	font-family: 'Outfit', sans-serif;
	margin-left: 1rem;
	color: #B23C17;
}

.formContainer {
	background-color: #f1eeed10;
	width: 250px;
}

.contactForm {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

input {
	height: 4rem;
	border: none;
	border-bottom: solid #5b5b5b 2px;
	margin: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Inter', sans-serif;
	font-weight: 200;
}

input[type="submit"] {
	margin-bottom: 1rem;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	color: #B23C17;
	border: none;
}

input[type="submit"]:hover {
	cursor: pointer;
}

input:focus {
	border: none;
}

textarea {
	padding: 1rem;
	height: 4rem;
	border: none;
	border-bottom: solid #5b5b5b 2px;
	margin: 5px;
	color: white;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background-color: rgba(0, 0, 0, 0);
}

/* ANIMATION */

.reveal {
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.active.fade-bottom {
	animation: fade-bottom 1s ease-in;
}

.active.fade-left {
	animation: fade-left 1s ease-in;
}

.active.fade-right {
	animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 900px) {
	.contactContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 10rem;

	}

	.formContainer {
		width: 500px;
	}
}