.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../assets/space.png');

}

.footerContainer svg {
	height: 35px;
	margin: 1rem 1rem 1.5rem 1rem;
}

.footerContainer svg:hover {
	color: #B23C17;
}
