html {
  scroll-behavior: smooth;
}
.overlay::before {
  height: 100vh;
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.26956732399991246) 45%, rgba(3,2,2,0.8746093408066351) 85%);
}

.overlay {
  position: relative;
  /* width: 100vw; */
}

.App {
  /* position: absolute; */
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
