.mainNav {
	display: flex;
	align-items: center;
	justify-content: end;
	position:fixed;
	width: 100%;
}

li {
	list-style: none;
}

.nav {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	margin-right: 3rem;
}

.nav a {
	text-decoration: none;
	margin: 5px;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

.nav span {
	color: #B23C17;
}

a:hover {
	color: #B23C17;
}


@media (min-width: 768px) {
	.name {
		font-size: 35px;
	}
	.nav a {
		font-size: 18px;
	}
}