.stack {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	height: 100vh;
	background-image: url('../../assets/space.png');

}

.stackContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.stackContainer svg {
	margin: 15px;
	height: 4rem;
	color: #fff;
}

/* ANIMATION */

.reveal {
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.active.fade-bottom {
	animation: fade-bottom 1s ease-in;
}

.active.fade-left {
	animation: fade-left 1s ease-in;
}

.active.fade-right {
	animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 900px) {
	.stackContainer svg {
		height: 5rem;
	}
	.flexContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}